<div class="row">
	<h1>Educación Academica</h1>
	<div class="col-lg-1"></div>
	<div class="col-lg-11">
		<ul>
			<li><h2>Primario</h2> - <h3>(Escuela Concordia)</h3></li>
			<p>
				Escuela Primaria orientada a las ciencias sociales y naturales
			</p>
		</ul>
		<ul>
			<li><h2>Secundario</h2> - <h3>(Colegio Goretti)</h3></li>
			<p>
				Santa Maria Teresa Goretti, colegio Tecnico secundario con 7 años, egresando como Tecnico electromecanico de nivel medio.
			</p>
		</ul>
		<ul>
			<li><h2>Universidad</h2> - <h3>(UNRC)</h3></li>
			<p>
				Empezando mis estudios en la facultad de ingeniera, en el area de telecomunicaciones y luego cambiandome a la facultad de Cs. Exactas en el area de Ciencias de la informatica, empezando por la carrera Analista de sistema para luego continuar con Licenciatura en Ciencias de la computación.
			</p>
		</ul>
	</div>
</div>
