.row{
	padding: 20px;
}
div{
	background-color:#5499c7;
	text-align: center;
}

/*foto de perfil*/
@media (min-width: 576px){
	#fotodeperfil{
		position: absolute;
		width: 12%;
		height: 35%;
		border-radius: 100%;
		box-shadow: 3px 3px 3px #000;
		left: 3%;
		top: 530px;
	}
}

@media (max-width: 575px){
	#fotodeperfil{
		position: absolute;
		width: 32%;
		height: 35%;
		border-radius: 100%;
		box-shadow: 3px 3px 3px #000;
		left: 33%;
		top: 570px;
	}
}

/*etiqueta nombre*/
#nombre{
	font-weight: bold;
	margin-top: 30%;
}