<div class="row">
	<h1>Hard & Soft skills</h1>

	<div class="text-center col-sm-4 col-md-4 col-lg-4">
		<circle-progress
  			[percent]="80"
  			[radius]="100"
  			[showUnits]="false"
  			[title]="'HTML'"
  			[titleColor]="'#000'"
  			[titleFontSize]="'25px'"
  			[outerStrokeWidth]="10"
  			[innerStrokeWidth]="3"
  			[outerStrokeColor]="'#c61'"
  			[innerStrokeColor]="'#fff'"
  			[animation]="true"
  			[animationDuration]="1000"
		></circle-progress>
	</div>

	<div class="text-center col-sm-4 col-md-4 col-lg-4">
		<circle-progress
  			[percent]="80"
  			[radius]="100"
  			[showUnits]="false"
  			[title]="'CSS'"
  			[titleColor]="'#000'"
  			[titleFontSize]="'25px'"
  			[outerStrokeWidth]="10"
  			[innerStrokeWidth]="3"
  			[outerStrokeColor]="'#c61'"
  			[innerStrokeColor]="'#fff'"
  			[animation]="true"
  			[animationDuration]="1000"
		></circle-progress>
	</div>

	<div class="text-center col-sm-4 col-md-4 col-lg-4">
		<circle-progress
  			[percent]="70"
  			[radius]="100"
  			[showUnits]="false"
  			[title]="'JS'"
  			[titleColor]="'#000'"
  			[titleFontSize]="'25px'"
  			[outerStrokeWidth]="10"
  			[innerStrokeWidth]="3"
  			[outerStrokeColor]="'#c61'"
  			[innerStrokeColor]="'#fff'"
  			[animation]="true"
  			[animationDuration]="1000"
		></circle-progress>
	</div>

	<div class="text-center col-sm-4 col-md-4 col-lg-4">
		<circle-progress
  			[percent]="60"
  			[radius]="100"
  			[showUnits]="false"
  			[title]="'GitHub'"
  			[titleColor]="'#000'"
  			[titleFontSize]="'25px'"
  			[outerStrokeWidth]="10"
  			[innerStrokeWidth]="3"
  			[outerStrokeColor]="'#c61'"
  			[innerStrokeColor]="'#fff'"
  			[animation]="true"
  			[animationDuration]="1000"
		></circle-progress>
	</div>

	<div class="text-center col-sm-4 col-md-4 col-lg-4">
		<circle-progress
  			[percent]="85"
  			[radius]="100"
  			[showUnits]="false"
  			[title]="'Ingles'"
  			[titleColor]="'#000'"
  			[titleFontSize]="'25px'"
  			[outerStrokeWidth]="10"
  			[innerStrokeWidth]="3"
  			[outerStrokeColor]="'#c61'"
  			[innerStrokeColor]="'#fff'"
  			[animation]="true"
  			[animationDuration]="1000"
		></circle-progress>
	</div>

	<div class="text-center col-sm-4 col-md-4 col-lg-4">
		<circle-progress
  			[percent]="100"
  			[radius]="100"
  			[showUnits]="false"
  			[title]="'Trabajo grupal'"
  			[titleColor]="'#000'"
  			[titleFontSize]="'25px'"
  			[outerStrokeWidth]="10"
  			[innerStrokeWidth]="3"
  			[outerStrokeColor]="'#c61'"
  			[innerStrokeColor]="'#fff'"
  			[animation]="true"
  			[animationDuration]="1000"
		></circle-progress>
	</div>

</div>


