img{
	width: 50px;
}
#wsp{
	width: 70px;
	height: 80px;
}

#instagram{
	width: 45px;
	height: 45px;
}

#facebook{
	width: 60px;
	height: 40px;
}

#linkeding{
	width: 55px;
	height: 35px;
}

#github{
	width: 60px;
	height: 35px;
}