<div class="row">
	<h1>Experiencia Laboral</h1>
	<div class="col-lg-1"></div>
	<div class="col-lg-11">
		<ul>
			<li><h1>Trabajo Uno</h1> - <h3>(years)</h3></li>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat.
			</p>
		</ul>
		<ul>
			<li><h1>Trabajo Dos</h1> - <h3>(years)</h3></li>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat.
			</p>
		</ul>
		<ul>
			<li><h1>Trabajo Tres</h1> - <h3>(years)</h3></li>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat.
			</p>
		</ul>
	</div>
</div>
