<div class="row">
	<h1>Proyectos realizados</h1>
	<div class="contenedor">
		<div class="col-sm-12 col-md-7 col-lg-7 parte1">
			<h3>Piano Arduino</h3>
			<p>Este es un pequeño piano que realize con mi placa arduino, es un intrumento musical electronico que reacciona al pulsar ciertos botones que marcarian la nota musical.</p>
		</div>
		<div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
			<img src="assets/procesador.jpg" class="img-fluid img-proyecto">
		</div>

		<div class="col-sm-12 col-md-7 col-lg-7 parte1">
			<h3>Snake</h3>
			<p>Realize un pequeño videojuego con mecanicas muy simples, se trata de simplemente unos bloques lineales que simularan ser una vibora, estos tras comer una manzana (un bloque pixel pintado de rojo), el animal crecera, la meta del juego es hacerla crecer lo más que se pueda sin que colisione entre ella misma.</p>
		</div>
		<div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
			<img src="assets/procesador.jpg" class="img-fluid img-proyecto">
		</div>


	</div>
</div>
